<div id="container_home">
    <div class="container_home">
        <div class="seccion_1">
            <div class="container_nomina">
                <div class="containers-buttons">
                    <div class="container-button">
                        <button mat-raised-button color="primary" class="button" (click)="reporth()">Reporte Horizontal</button>
                    </div>
                    <div class="container-button">
                        <button mat-raised-button color="primary" class="button" (click)="reportt()">Reporte TXTSS</button>
                    </div>
                </div>
            </div>
            <div class="container_logo">
                <div class="img_logo">
                    <h3 class="title_nota">Outsourcing Nóminas</h3>
                    <p class="parrafo_nota">La liquidación de nómina, es el proceso de calcular el valor bruto devengado por cada trabajador en un periodo de tiempo determinado, efectuar las deducciones, entre otros.</p>
                    <h4 class="title_nota_2">Novedades para liquidación de nómina</h4>
                    <p class="parrafo_nota_2">Dentro del periodo de tiempo en el cual se calcula la nómina,  pueden ocurrir eventos que afectan directamente el valor de la liquidación de los empleados,  por ejemplo:
                        <br><br> - Número de días efectivamente trabajados
                        <br> - Horas extras trabajadas y recargos dominicales o festivos
                        <br> - Bonificaciones legales: primas, auxilios, subsidios
                        <br> - Bonificaciones extralegales: incentivos, bonos de desempeño
                        <br> - Incapacidades médicas
                        <br> - Préstamos solicitados por el empleado
                        <br> - Impuestos y retenciones, etc.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


