<div class="container-xl my-3 text-sm-start">
    <div class="my-3 flex-row">
        <div class="d-flex">
            <!-- <input class="form-control-sm me-2" type="search" placeholder="Id zoho" aria-label="Search" [(ngModel)]="idZoho">
            
            <input class="form-control-sm me-2" type="search" placeholder="Año" aria-label="Search" [(ngModel)]="anio">
            
            <input class="form-control-sm me-2" type="search" placeholder="Mes" aria-label="Search" [(ngModel)]="mes">
            
            <input class="form-control-sm me-2" type="search" placeholder="Identificacion" aria-label="Search" [(ngModel)]="identificacion">
            
            <input class="form-control-sm me-2" type="search" placeholder="Proceso" aria-label="Search" [(ngModel)]="process"> -->
            
            <!-- <button class="btn btn-outline-success" (click)="onSearch()">Buscar</button>

            <button type="button" class="btn btn-danger" (click)="restart()"> X </button> -->
        </div>

    </div>
    <!-- Content here -->
    <!-- Paginación -->
    
    <nav aria-label="Page navigation example">
        <span>Total registros: {{this.process.length}}</span>
        <ul class="pagination justify-content-end">
          <li class="page-item" [ngClass]="{'disabled': currentPage === 1}">
            <a class="page-link" tabindex="-1" aria-disabled="true" aria-label="Previous" (click)="prevPage()">Previous</a>
          </li>
          <li class="page-item">
            <a class="page-link" aria-label="Next" (click)="nextPage()">Next</a>
          </li>
        </ul>
      </nav>
        <table class="table table-dark table-hover">
            
            <div class="spinner-border text-primary" role="status" *ngIf="wait">
                <span class="visually-hidden">Loading...</span>
              </div>

            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">Proveedor</th>
                <th scope="col">Año </th>
                <th scope="col">Mes</th>
                <th scope="col">Estado</th>
                <th scope="col">Tipo proceso</th>
                <th scope="col">Id track</th>
                <th scope="col">Relanzar</th>
                <th scope="col">Consultar</th>
            </tr>
            </thead>
            <tbody>
                <!-- <ng-container *ngFor="let log of logs_"> -->
                <ng-container *ngFor="let process of currentPageItems; let i = index">
                    
                    <tr>
                        <td>{{ (currentPage - 1) * pageSize + i + 1 }}</td>
                        <td>{{process.id}}</td>
                        <td>{{process.proveedor_servicio}}</td>
                        <td>{{process.anio}}</td>
                        <td>{{process.mes}}</td>
                        <td>{{process.status}}</td>
                        <td>{{process.type_process}}</td>
                        <td>{{process.idTrack}}</td>
                        <td><button class="btn btn-success" (click)="relanzar(process)" [disabled]="process.status != 'calculated' && process.status != 'sending'">Relanzar</button></td>
                        <td><button class="btn btn-primary" (click)="consultar(process)" [disabled]="process.type_process == 2 || process.status === '1' " data-bs-toggle="modal" data-bs-target="#staticBackdrop">Consultar</button></td>
                    </tr>
                  </ng-container>
            </tbody>
      </table>
  </div>
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"  aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">{{title}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="spinner-border text-primary" role="status" *ngIf="wait">
                <span class="visually-hidden">Loading...</span>
              </div>
            <h3>{{descripcion}}</h3>
            <table class="table table-dark table-hover" id="tableProcess" *ngIf="logs_.length > 0">
                <thead>
                    <tr>
                    <th scope="col">Id zoho</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Año </th>
                    <th scope="col">Mes</th>
                    <th scope="col">Identificacion</th>
                    <th scope="col">Nombre</th>
                </tr>
                </thead>
                <tbody>
                    <!-- <ng-container *ngFor="let log of logs_"> -->
                    <ng-container *ngFor="let log of logs_">
                        
                        <tr>
                            <td>{{log.zh_id_acumulado}}</td>
                            <td>{{log.status}}</td>
                            <td>{{log.anio}}</td>
                            <td>{{log.mes}}</td>
                            <td>{{log.identificacion}}</td>
                            <td>{{log.nombre}}</td>
                       </tr>
                      </ng-container>
                </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-success" (click)="exportToExcel('tableProcess')" *ngIf="logs_.length > 0">Descargar</button>
        </div>
      </div>
    </div>
  </div>