<!-- Contenido de la página /ReporteReLiquidaciones -->
<section id="login">
    <div class="container_all" id="container_all">
        <div class="login_container">
            <div class="login">
                <div class="login_box">
                    <div class="container">
                        <div class="container-form">
                            <form [formGroup]="formreport" (submit)="post_reporte()">
                                <div class="titulo">
                                    <h3>REPORTE RELIQUIDACIONES</h3>
                                </div>
                                <div>
                                    <mat-form-field appearance="fill" class="campo">
                                        <mat-select id="empresa" formControlName="empresa">
                                            <mat-option *ngFor="let empresa of empresas" [value]="empresa">
                                                {{empresa}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-label>Empresa</mat-label>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field appearance="fill" class="campo">
                                        <mat-label>Estado</mat-label>
                                        <mat-select id="estados" formControlName="estados" multiple (ngModelChange)="enable_input_2()">
                                            <mat-option *ngFor="let estado of estadoslist" [value]="estado" [disabled]="isOpcionDeshabilitada(estado)">
                                                {{estado}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field class="campo">
                                        <mat-label>Año</mat-label>
                                        <input matInput placeholder="Ingresa un año" type="text" id="anio" formControlName="anio">
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field class="campo">
                                        <mat-label>Mes</mat-label>
                                        <input matInput placeholder="Ingresa un mes" type="text" id="mes" formControlName="mes">
                                    </mat-form-field>
                                </div>
                                <div class="container-button">
                                    <button mat-raised-button color="primary" ng-disabled="formreport.invalid" class="button">Procesar</button>
                                    <button type="button" mat-raised-button color="primary" class="button" (click)="updateEmpresas()">Actualizar</button>
                                </div>                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="loading" id="loading">
        <div class="load">
            <div class="containergif">
                <div class="message_load">
                    <h2>Estamos procesando tu solicitud...</h2>
                </div>
                <img src="assets\gif\loading.gif" alt="" class="gif"> 
            </div>
        </div>
    </div>
    <div class="alert_div" id="alert">
        <div class="alerta">
            <div class="image_back">
                <div class="containeralert">
                    <div class="message_alert">
                        <div class="icon_alert">
                            <i class="bi bi-exclamation-circle"></i>
                        </div>
                        <h2 class="message_alerta">{{message}}</h2>
                        <button mat-raised-button color="primary" class="boton_alert" (click)="regresar()">Volver</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>